* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #242424;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.navigation-bar-container {
    display: flex;
    justify-content: center;
}

.navigation-bar {
    width: 400px;
    height: 40px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #191919;
}

.nav-icon-container {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-icon {
    color: white;
    width: 25px;
    height: 25px;
}